body {
    margin: 0;
    width: 100%;
    min-height: 100svh;
    box-sizing: border-box;
}
.container {
    background-color: hsl(0, 0%, 90%);
    width: 80%;
    max-width: 600px;
    height: auto;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(241, 43%, 51%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: hsl(0, 0%, 10%);
    font-family: monospace;
    font-size: 2rem;
}
form {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 10px;
}
label {
    display: none;
}
input[type='text'] {
    padding: 15px 10px;
    font-size: 1rem;
    font-family: monospace;
    border-radius: 10px;
    border: 1px solid hsl(241, 43%, 51%);
    flex: 1;
}
.imageContainer {
    border: 2px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 100%);
    max-width: fit-content;
    height: 0;
    display: none;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s;
}
.imageContainer img {
    width: 100%;
    height: 100%;
}
.imageContainer.show-image {
    height: 250px;
    display: flex;
}
p#loadingText {
    display: none;
    font-size: 1.5em;
    font-weight: bold;
}
.button {
    width: 100%;
    font-size: 1.2em;
    font-family: monospace;
    font-weight: bold;
    margin-block: 10px;
    padding: 10px 20px;
    border: 2px solid hsl(240, 100%, 60%);
    color: hsl(0, 0%, 10%);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover {
    background-color: hsl(240, 100%, 60%);
    color: hsl(0, 0%, 100%);
}
.button.download {
    border: 2px solid hsl(120, 100%, 55%);
    display: none;
}

.button.download:hover {
    background-color: hsl(120, 100%, 55%);
    color: hsl(0, 0%, 100%);
}
.empty-input {
    animation: shake 0.5s ease-out infinite;
}

@keyframes shake {
    0%  {
        transform: translateX(3px);
        transform: translateY(3px);
    }
    25%  {
        transform: translateX(0px);
        transform: translateY(0px);
    }
    75%  {
        transform: translateX(-3px);
        transform: translateY(-3px);
    }
    100%  {
        transform: translateX(0px);
        transform: translateY(0px);
    }
}